*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}
body{
    font-family: 'Poppins', sans-serif;
    background: radial-gradient(rgb(43, 60, 105),rgb(151, 151, 151));
}



.szov

.course-col:hover{
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.5);
}

.course-col{
    flex-basis: 31%;
    background: #dfe3fa;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0,5s;

}


.course-col2{
    flex-basis: 31%;
    background: transparent;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0,5s;
    margin-top: -180px;

}

.course{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 50px;

}


.course1{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 40px;

}

.campus img{
    width: 300px;
}


.campus{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
}

.campus-col{
    flex-basis: 32%;
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;

}
campus-col img{
    width: 40%;
}

.row1{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}

.sub-header{
    height:auto;
    width: 100%;
    
    background-position: center;
    background-size: cover;
    color: #fff;
}
.sub-header h1{
    text-align: center;
    margin-top: 50px;
}



.header{
    min-height: auto;
    width: 100%;
   
    background-position: center;
    background-size: cover;
    position: relative;

}





nav img{
width: 100px;
}


.nav-links{
    flex:1;
    text-align: right;
}


.nav-links ul li{
list-style: none;
display: inline-block;

position: relative;
}


.nav-links ul li a{
    color: #fff;
    text-decoration: none;
   
}


.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: red;
    display: block;
    margin: auto;
    transition: 0.5s;
}


.nav-links ul li:hover::after{
width: 100%;
}

nav .fa{
    display: none;
}















nav{
    flex: 1;
    text-align: right;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 8%;
    transition: background 1s;
    color: #fff;

}

nav .logo{
    display: flex;
    align-items: center;
    font-size: 26px;
    font-weight: 600;
    color: #fff;

}

nav .logo img{
    width: 60px;
    margin-right: 5px;
}
nav ul{
    display: inline-block;
    list-style-type: none;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 10px;
    color: #fff;

}

nav ul li a{
    text-decoration: none;  
    font-weight: 500;
    
    color: white;
}

nav:hover{
    background: #fff;
}

nav:hover .logo{
    color: black;
}

nav:hover ul li a{
    color: black;
}






.szoveg2 h1{
    font-size: 50px;
    line-height: 65px;
    font-weight: 600;
    text-decoration: none;
    color: #000;
}

.szoveg2 p{
    max-width: 500px;
    line-height: 28px;
    text-decoration: none;
    color: #000;
}






.szoveg2{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 50px;
}









.szov img{
    width: 300px;

}


.laptkep{
    width: 200px;
    margin-right: 300px;
}




@media(max-width:700px){
   
.course1{
    width: 80%;
}
 

.course-col2 {

    width: 60px;
        font-size: 15px;
    text-align: center;
    margin-left: -28px;
    margin-top: -50px;

    
}
.course-col2 a{
    font-size: 15px;
    margin: auto;
}

.course-col p{
    font-size: 14px;
}
    

.lapt2 img{
margin-left: 30px;
}

    /*
.red-btn{
    
    text-align: center;
    margin: auto;
}
.hero-btn{
    text-align: center;
    font-size: 10px;
}

.course-col2 {
 
    width: 100px;
    font-size: 2px;
    align-items: center;
    text-align: center;
    margin: auto;
    
}
*/
.szoveg1 img{
    margin-top: 10px;
    margin-bottom: 10px;
    width: 300px;
    margin-left: 5px;
}
.laptkep img{
    width: 500px;
}
.countainer{
text-align: center;
}
.lab{
    align-items: center;
    text-align: center;
}
.lab h2{
    font-size: 30px;
}
.lab ul li{
    font-size: 20px;
}
.lab li{
    font-size: 20px;

}
.lab h3{
    font-size: 30px;

}

.szov{
    width: 400px;
}

.szov h1{
    font-size: 20px;
    margin-top: 30px;
}
.miert{
    width: 400px;
    text-align: center;
    display: block;
    margin: auto;
}
.miert p{
    text-align: center;
    font-size: 10px;
}

.miert h1{
    font-size: 10px;

}
.szoveg3 p{
    text-align: center;
    align-items: center;
    margin: auto;
}

.szov img{
    margin-top: 20px;
    text-align: center;
    align-items: center;
    margin-left: 50px;
    

}




   /*
    .rólunk img{
      
       
        width: 50px;
       

    }
    .rólunk-col{
        width: 200px;
        text-align: center;
        align-items: center;
    }
    .rólunk{
        width: 200px;
        text-align: center;
        align-items: center;
    }
    .rólunk-col h1{
        text-align: center;
    }
    .row1{
       flex-basis: 100%;
        width: 200px;
    }
*/
.text-box h1{
    font-size: 58px;}

    .nav-links ul li{      
        display:block;
        }

        .nav-links{
           position: fixed;
           background: rgb(126, 0, 0);
           height: 100vh;
           width: 200px;
           top: 0;
           right: -200px;
           text-align: left;
           z-index: 2;
           transition: 1s;
        } 


nav .fa{
    display: block;
    color: #fff;
    margin: 10px;
    font-size: 22px;
    cursor: pointer;

}
.nav-links ul{
    padding: 30px;
}
}








































.eng{
    width:18px;
}





.fejlec{
    width: 100%;
    height: auto;
   
    background-position: center;
    background-size: cover;
    overflow-x: hidden;
   /*background-image: linear-gradient(rgba(5,0,136,0.5),rgba(5,0,136,0.5)),url(ftuvaros.jpg);*/

}

.navbar{
    display: flex;
    align-items: center;
    padding: 20px;
}

nav{
    flex: 1;
    text-align: right;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 8%;
    transition: background 1s;
    color: #fff;

}

nav .logo{
    display: flex;
    align-items: center;
    font-size: 26px;
    font-weight: 600;
    color: #fff;

}

nav .logo img{
    width: 60px;
    margin-right: 5px;
}
nav ul{
    display: inline-block;
    list-style-type: none;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 10px;
    color: #fff;

}

nav ul li a{
    text-decoration: none;  
    font-weight: 500;
    
    color: white;
}

nav:hover{
    background: rgb(108, 108, 108);
}

nav:hover .logo{
    color: black;
}

nav:hover ul li a{
    color: black;
}

.szoveg1{
    margin-top: 2%;
    margin-left: 9%;
    color: white;
    text-decoration: none;

}

.szoveg1 h1{
    font-size: 50px;
    line-height: 65px;
    font-weight: 600;
    text-decoration: none;
}

.szoveg1 p{
    max-width: 500px;
    line-height: 28px;
    text-decoration: none;
}
.link{
    opacity: 0;
}
.link a{
    margin-top: 2%;
    color: white;
    text-decoration: none;
    display: inline-block;
}

.gomb{
    display: inline-block;
    background: rgb(216, 33, 33);
    color: white;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px; 
    transition: background 0.5s;
}
.gomb:hover{
    background: rgb(146, 0, 0);
}

.anim{
    animation: slideleft 1s linear forwards;
}

@keyframes slideleft{
0%{
    transform: translate(100px);
    opacity: 0;   
}
    
100%{
    transform: translate(0px);
    opacity: 1;
}
}

.link.anim{
    animation-delay: 1s;
}


.int{
    font-size: 30px;

    transform: translate(-100%,-100);
    -webkit-text-stroke: 1px black;
    color: transparent;
   background-image: linear-gradient(black,black);
    background-repeat: no-repeat;
    -webkit-background-clip: text;
    background-position: -252px 0;
    animation: backcolor 4s linear infinite alternate;
    animation-delay: 0s;
   

}

@keyframes backcolor {
    100%{
        background-position: 0 0;
    }
}

.lapt{
    width: 800px;
  
}

.szoveg1{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 50px;
}

.small-container{
    max-width: 1080px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}



.col-4{
    flex-basis: 25%;
    padding: 10px;
    min-width: 200px;
    margin-bottom: 50px;
    transition: transform 0.5s;
}

.col-4 img{
    width: 100%;
}

.tittle{
    text-align: center;
    margin: 0 auto 80px;
    position: relative;
    line-height: 60px;
    color: black;
}


.tittle::after{
    content: '';
    background:rgb(216, 33, 33);
    width: 80px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}
.col-2{
    flex-basis: 50%;
    padding: 50px 0 ;
}




.aj{
    text-decoration: none;
    color: black;
}

h4{
    color: black;
    font-weight: normal;
}
.col-4 p{
    font-size: 25px;
}

.col-4:hover{
    transform: translateY(-5px);
}

.ajanlat{
    background: radial-gradient(rgb(82, 71, 71), black);
    margin-top: 80px;
    padding: 30px 0;
}

.col2 .ajanlat-img{
    padding: 50px;
}

small{
    color: #fff;
    align-items: right;
}

.kieg{
    text-align: center;
    size: 20px;
    margin-top: -30px;
    font-style: italic;
}

.lab{
    background: #000;
    color: #8a8a8a;
    font-size: 14px;
    padding: 60px 0 20px;
}

.lab h3{
    color: #fff;
   /* margin-bottom: 20px;*/

}
.container{
    max-width: 1300px;
    margin: auto;
    
    padding-left: 25px;
    padding-right: 25px;
}
.footer-col-1, .footer-col-2, .footer-col-3, .footer-col-4{
    min-width: 250px;
   margin-bottom: 20px;
}

.footer-col-1{
    flex-basis: 30%;
    text-align: center;
}
.footer-col-2{
    flex: 1;
    text-align: center;
}
.footer-col-2 img{
    width: 180px;
    margin-bottom: 20px;
}
.footer-col-3{
    text-align: left;
    margin-left: 60px;
    size: 20px;
    margin-top: 30px;
}

.footer-col-4{
    text-align: right;
}


ul{
    list-style-type: none;
}


.lapt2{
    width: 200px;
    margin-left: 130px;
}

.lablink{
    color: white;
    text-decoration: none;
}

.menu-icon{
    width: 28px;
    margin-left: 20px;
    display: none;
}
/*
@media only screen and (max-width:800px){

    nav ul{
        position: absolute;
        top: 70px;
        left: 0;
        background: #333;
        width: 100%;
        overflow: hidden;
        transition: max-height 0.5;

    }


    nav ul li {
        display: block;
        margin-right: 50px;
        margin-top: 10px;
        margin-bottom: 10px;
    }

nav ul li a{
    color: #fff;
}

.menu-icon{
    display: block;
    cursor: pointer;
}






}




@media only screen and (max-width:600px){
    .row{
        text-align: center;
    }
    .szoveg1{
        text-align: center;

    }
    .col-2, .col-4{
        flex-basis: 100%;
    }
}


/*
szolgáltatásaink
*/


.kep1{
    width: 70%;
    align-items: right;
}








.row1{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}



.rólunk{
    width: 80%;
    margin: auto;
    padding-top: 80px;
    padding-bottom: 50px;
}


.hero-btn{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
}

.hero-btn:hover{
    border: 1px solid rgb(216, 33, 33);
    background: rgb(216, 33, 33);
    transition: 1s;
}


.red-btn{
    border: 1px solid rgb(216, 33, 33);
    background: transparent;
    color: rgb(216, 33, 33);
}

.red-btn:hover{
    color: #fff;
}

.rólunk-col{
    flex-basis: 48%;
    padding: 30px 2px;

}

.rólunk-col img{
    width: 60%;
    margin-top: -70px;
    margin-left: 250px;
}

.pluszsz{
    margin-top: 5px;
}

.cimszoveg{
    font-size: 30px;
}

.lista1{
    font-size: 15px;
    font-style: italic;
    list-style-type:disc;
    margin-left: 80px;
}

.rólunk-col2 img{
    width: 50%;
    margin-top: -20px;
    margin-right: 250px;
}


.about-col h1{
    padding-top: 0;
}
.about-col p{
    padding: 15px 0 25px;
}


.szoveg3 {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.szoveg3 h1{
    margin-top: 150px;
}

.extra{
    margin-top: 200px;
}


.lapt3{
    width: 800px;
    margin-top: 140px;
}



.red-btn{
    margin-top: 10px;
    border: 1px solid black;
    background: rgba(41, 33, 86, 0.458);
    color: black;
}

.red-btn:hover{
    color: #fff;
}

.miert{
    text-align: center;
    margin-top: 50px;

}

.miert h1{
    font-size: 40px;
}

.miert p{
    font-size: 20px;
}



.header{
    min-height: 70vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7), rgba(4,9,30,0.7)),url(ftuvaros.jpg);
    background-position: center;
    background-size: cover;
    position: relative;

}

/*
weblap keszitese oldal
*/


.header1{
    min-height: 70vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7), rgba(4,9,30,0.7)),url(ftuvaros2.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
    color: white;

}


.header2{
    min-height: 70vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7), rgba(4,9,30,0.7)),url(varos.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
    color: white;

}



.header3{
    min-height: 70vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7), rgba(4,9,30,0.7)),url(ftunewyork.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
    color: white;

}



.egyeb{
    font-size: 15px;
    text-align: center;
    font-style: italic;
}



nav{
display: flex;
padding: 2% 6%;
justify-content: space-between;
align-items: center;

}


nav img{
width: 70px;
}


.nav-links{
    flex:1;
    text-align: right;
}


.nav-links ul li{
list-style: none;
display: inline-block;
padding: 8px 12px;
position: relative;
}


.nav-links ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 13px;
}

/*piros*/
.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: rgb(216, 33, 33);
    display: block;
    margin: auto;
    transition: 0.5s;
}


.nav-links ul li:hover::after{
width: 100%;
}


.fejsz{
    text-align: center;
    margin-top: 100px;
    font-size: 23px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.fejsz1{
    color: white;
    text-align: center;
    margin-top: 100px;
    font-size: 23px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


.kozepre{
    align-items: center;
}

.plusz{
    margin-bottom: 20px;
}





.szoveg3 h1{
    font-size: 50px;
    line-height: 65px;
    font-weight: 600;
    text-decoration: none;
    color: #000;
}

.szoveg3 p{
    max-width: 500px;
    line-height: 28px;
    text-decoration: none;
    color: #000;
}






.szoveg3{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 10px;
    margin-top: 20px;
}

.dolt{
    font-style: italic;
}


.kapcsolatsz{
    align-items: center;
    text-align: center;
    margin-top: 60px;
    margin-bottom: 100px;
}

.kapcsolatsz p{
    font-size: 20px;
}
.kapcsolatsz h2{
    font-size: 40px;
}

/* kapcs*/






.kapcsolat-col{
    flex-basis: 48%;
    margin-bottom: 30px;

}

.kapcsolat-col div{
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}

.kapcsolat-col .fa{
    font-size: 28px;
    color: black;
    margin: 10px;
    margin-right: 30px;
}

.kapcsolat-col div p{
    padding: 0;
}

.kapcsolat-col div h5{
font-size: 20px;
margin-bottom: 5px;
color: black;
font-weight: 400;
}



.kap-col input, .kap-col textarea{
    width: 100%;
    padding: 15px;
    margin-bottom: 17px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    outline: none;
    background: rgba(41, 33, 86, 0.458);
    box-sizing: border-box;
    color: #000;

}



.kapcsolat{
    width: 60%;
    margin: auto;
    color: #000;

}

